################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BattleshipLiteApp/FileContentIndex
/.vs/BattleshipLiteApp/v17
bin
